[submodule "external/jssy"]
	path = external/jssy
	url = https://github.com/tihmstar/jssy
[submodule "external/iBoot32Patcher"]
	path = external/iBoot32Patcher
	url = https://github.com/tihmstar/iBoot32Patcher.git
